@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h3>@ViewBag.MensagemBoasVindas</h3>
</div>

<br />

<div class="text-center">
    <h3>Comece selecionando uma opção no menu lateral.</h3>
</div>

<br />
<br />
<br />

<div class="text-center">
    <h3>Utilize o menu lateral para começar.</h3>
</div>

