@model SistemaDeVendas.Models.VendedorModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registrar</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Criar uma conta</h1>
                            </div>

                            <!-- Formulário corrigido -->
                            <form class="user" asp-action="RegistrarNovoVendedor" asp-controller="Register" method="post">
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    <input asp-for="Nome" class="form-control form-control-user" placeholder="Nome" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input asp-for="Email" class="form-control form-control-user" placeholder="E-mail" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input asp-for="Senha" type="password" class="form-control form-control-user" placeholder="Senha" />
                                    <span asp-validation-for="Senha" class="text-danger"></span>
                                </div>

                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Registrar
                                </button>
                            </form>

                            <br />
                            <div class="text-center">
                                <a class="small" asp-controller="Login" asp-action="Index">Já tem uma conta? Faça login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Scripts de validação -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>
