@model SistemaDeVendas.Models.VendedorModel

<h3 class="mb-4">Deletar Vendedor</h3>

<div class="container mt-4">
    <form asp-action="DeletarVendedor" asp-controller="Vendedor" method="post" class="needs-validation">

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Nome" />
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="Senha" />

        <div class="row mb-2">
            <div class="col-1 font-weight-bold">Nome:</div>
            <div class="col">@Model.Nome</div>
        </div>

        <div class="row mb-2">
            <div class="col-1 font-weight-bold">Email:</div>
            <div class="col">@Model.Email</div>
        </div>

        <div class="row mb-4">
            <div class="col-1 font-weight-bold">Senha:</div>
            <div class="col">@Model.Senha</div>
        </div>

        <a asp-action="Index" asp-controller="Vendedor" class="btn btn-secondary">Cancelar</a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteSeller">
            Deletar
        </button>

        <!-- Modal -->
        <div class="modal fade" id="deleteSeller" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tem certeza de que deseja excluir?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ao clicar em <strong>Deletar</strong> essa ação não poderá ser desfeita.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Deletar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
